/*
  Media Queries
  Responsive Design
*/
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
}

.container{
  
  padding-left: 15px;
  padding-right: 15px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
 
}


@media (min-width:300px) {
  .container{
    width:325px ;
  }
}

@media (min-width:450px){
  .container{
    width:430px ;
  }
}
@media (min-width:590px){
  .container{
    width:550px ;
  }
}
@media (min-width:650px){
  .container{
    width:600px ;
  }
}
@media (min-width:768px){
  .container{
    width:750px ;
  }
}
@media (min-width:992px){
  .container{
    width:970px ;
  }
}
@media (min-width:1200px){
  .container{
    width:1170px ;
  }
}
/* ----------------------- */


/* start nav-links */
.header{
  padding: 10px 0px;
}
.header .container ul li {
  list-style: none;
  margin-left: 10px;
  display: inline-block;
}
.header .container i {
  display: none;
}
.header .container ul li a {
  text-decoration: none;
  color: unset;
  
}

.header .container{
  
  display: flex;
  justify-content: space-between;
  align-items:center;

}
.header .container img{
  width: 60px;
}

@media (max-width:700px){
    .header .container ul {
      display: none;
    }
    .header .container i {
      display: block;
      font-size: 23px;
    }

}


/* end nav-links */
/* ------------------------ */

/* start bg-main-sec */
.main-sec{
  background-image: url(../imgs/landing.jpg);
  height:100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-sec .bg-main-sec{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.main-sec h1{
  color: #10cab7;
  font-size: 45px;
}
.main-sec p{
line-height: 34px;
font-size: 18px;
}


/* end bg-main-sec */
/* -------------------- */

/* start features*/
.features{
  background-color: #f6f6f6;
  padding: 70px 0px;
  
}
.features .container .inner-features{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}
.features .container .inner-features div {
      width: calc(100% / 3);
      text-align: center;
      margin: 25px 0px;
}
.features .container .inner-features div i{
  color: #10cab7;
  font-size: 60px;
  margin-bottom: 20px;
}
.features .container .inner-features div h3{
  font-weight: 800;
}
.features .container .inner-features div p{
  line-height: 1.8;
  color: #777;
}

@media screen and (max-width: 992px) {
    .features .container .inner-features div {
      width: calc(90% / 2);
      margin: 0px 10px;
    }
}
@media screen and (max-width: 664px) {
    .features .container .inner-features div {
      width: calc(90% / 1);
      margin: 0px 10px;
    }
}
@media screen and (max-width: 590px) {
    .features .container .inner-features div {
      max-width: 90%;
      margin: auto;
    }

}
/* end features*/
/* --------------- */

/* start services */

/* .services .container .inner-services-texts{
  text-align: center;
  padding: 70px 0px;
}
.services .container .inner-services-texts h2{
  margin-top: 0px;
  color: #ebeced;
  font-size: 100px
}
.services .container .inner-services-texts p{
  margin-top: -115px;
  font-size: 20px;
  color: #797979;
}
.ccs{
  position: relative;
}

.cont{
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
 
}
.cont .co{
  width: calc(90% / 2);
      

  margin: 10px 10px;
}
.co p{
  color: #797979;
  line-height: 1.8;

}

.co i{
  margin: 0px 30px;
}
.co{
  display: flex;

}
.co h2{
  margin: 0;
  font-size: 19px;
}
.ccs{
  display: flex;

}
.ccs .im{
  align-self: center;
}

.ccs .im img{
  width: 270px;
}

.im::before{
  content:" ";
  width: 100px;
  height: 110%;
  margin-top: -70px;
 
  background-color: #2c4755;
  right: -50px;
  position: absolute;
  z-index: -1;
}

  
.co i{
  color: #10cab7;
}
@media screen and (max-width: 1115px) {
    .im{
      display: none;
    }

}
@media screen and (max-width: 675px) {

  .cont .co{
  width: 100%;
  text-align: center;
  
  margin: 10px 10px;
}
.co{
  display: block;
  margin: 15px 0px;
  padding: 15px 0px;

}
.co i{
  
  margin: 15px 0px;
  padding: 15px 0px;
}
.services .container .inner-services-texts h2{
  margin-top: 0px;
  color: #ebeced;
  font-size: 60px
}
.services .container .inner-services-texts p{
  margin-top: -70px;
  font-size: 20px;
  color: #797979;
}

}
@media screen and (max-width: 649px) {
        .cont .co{
          max-width: 65%;
          text-align: center;
          margin: 10px auto;
  }
}  */
/* ------------------------------------------------------------------------------------ */
.services .container .inner-services-texts{
  text-align: center;
  padding: 70px 0px;
}
.services .container .inner-services-texts h2{
  margin-top: 0px;
  color: #ebeced;
  font-size: 100px
}
.services .container .inner-services-texts p{
  margin-top: -115px;
  font-size: 20px;
  color: #797979;
}

.services-frame-all-container{
  position: relative;
}
.services-frame-inner-left-all-divs-at-left{
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
 
}
.services-frame-inner-left-all-divs-at-left .services-frame-inner-left-cols-all-divs-at-left{
  width: calc(90% / 2);
      

  margin: 10px 10px;
}
.services-frame-inner-left-cols-all-divs-at-left p{
  color: #797979;
  line-height: 1.8;

}

.services-frame-inner-left-cols-all-divs-at-left i{
  margin: 0px 30px;
}
.services-frame-inner-left-cols-all-divs-at-left{
  display: flex;

}
.services-frame-inner-left-cols-all-divs-at-left h2{
  margin: 0;
  font-size: 19px;
}
.services-frame-all-container{
  display: flex;

}
.services-frame-all-container .services-frame-inner-rt-image {
  align-self: center;
}

.services-frame-all-container .services-frame-inner-rt-image  img{
  width: 270px;
}

.services-frame-inner-rt-image::before{
  content:" ";
  width: 100px;
  height: 110%;
  margin-top: -70px;
  background-color: #2c4755;
  right: -50px;
  position: absolute;
  z-index: -1;
}
.services-frame-inner-left-cols-all-divs-at-left i{
  color: #10cab7;
}
@media screen and (max-width: 1115px) {
    .services-frame-inner-rt-image {
      display: none;
    }

}
@media screen and (max-width: 675px) {

  .services-frame-inner-left-all-divs-at-left .services-frame-inner-left-cols-all-divs-at-left{
  width: 100%;
  text-align: center;
  
  margin: 10px 10px;
}
.services-frame-inner-left-cols-all-divs-at-left{
  display: block;
  margin: 15px 0px;
  padding: 15px 0px;

}
.services-frame-inner-left-cols-all-divs-at-left i{
  
  margin: 15px 0px;
  padding: 15px 0px;
}
.services .container .inner-services-texts h2{
  margin-top: 0px;
  color: #ebeced;
  font-size: 60px
}
.services .container .inner-services-texts p{
  margin-top: -70px;
  font-size: 20px;
  color: #797979;
}

}
@media screen and (max-width: 649px) {
        .services-frame-inner-left-all-divs-at-left .services-frame-inner-left-cols-all-divs-at-left{
          max-width: 95%;
          text-align: center;
          margin: 10px auto;
  }
} 
/* end services */
/* -------- */


/* start portfolio */


.portfolio{
  background-color: #f6f6f6;
  margin-top: 100px;
  padding: 100px 0px;
}
.portfolio .container .inner-portfolio-texts{
  text-align: center;
  padding: 70px 0px;
}
.portfolio .container .inner-portfolio-texts h2{
  margin-top: 0px;
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
}
.portfolio .container .inner-portfolio-texts p{
    margin-top: -100px;
    font-size: 22px;
    color: #797979;
}


.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  
}
.cards img{
  width: 100%;
}
 .cards .card-body{
  background-color: rgb(255, 255, 255);
  width: calc(95% / 3);
  
}

.cards .card-body .cards-text{
  width: 90%;
  margin: auto;
}
.cards .card-body .cards-text h2{
    font-size: 20px;
    
}
.cards .card-body .cards-text p{
    color: #777;
    line-height: 1.6;
}
@media screen and (max-width: 1115px) {
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content:flex-start;
  
}
  .cards .card-body{
      width: calc(95% / 2); 
      margin: 10px 0px;
  }
}
@media screen and (max-width: 675px) {
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  margin: auto;
  
}
  .cards .card-body{
      width: calc(85% / 2); 
      margin: 10px 0px;
  }
}
@media screen and (max-width: 665px) {
.cards{
  display: block;
  width: 100%;
}
  .cards .card-body{
      width: 95%;
      
      margin: 10px auto;
  }
}
@media screen and (max-width: 550px) {
 .portfolio .container .inner-portfolio-texts h2{
  margin-top: 0px;
  color: #ebeced;
  font-size: 50px;
  font-weight: 800;
}
 .portfolio .container .inner-portfolio-texts p{
  margin-top: -45px;
  font-size: 15px;

}
}



/* end portfolio */
/* ------------- */

/* start about */

.about .container .inner-about-texts{
  text-align: center;
  padding: 70px 0px;
}
.about .container .inner-about-texts h2{
  margin-top: 0px;
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
}
.about .container .inner-about-texts p{
  margin-top: -115px;
  font-size: 20px;
  color: #797979;
}
.about .container .about-cont-img img{
  width: 240px;
} 
.about .container .about-cont{
 display: flex;
 
 
 justify-content: space-between;
} 
.about .container .about-cont-texts{
  max-width: 50%;
  position: relative;
} 
.about .container .about-cont-texts p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;

} 
.about .container .about-cont-texts p:last-of-type{
    font-weight: 500;
    line-height: 2;
    color: #777;
    margin-top: 50px;
}
/* .about .container .about-cont-texts p:first-of-type::before{
  content:" ";
  width: 50%;
  height: 2px;
  
  margin-top: 170px;
  background-color: #10cab7;
  left: 0px;
  position: absolute;
  
} */
hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

@media screen and (max-width: 992px) {
    .about .container .about-cont{
      display: block;
      text-align: center;
    }
  .about .container .about-cont-texts{
  max-width: 90%;
  margin: auto;
  
  }
}
  /* .about .container .about-cont-texts p:last-of-type{
      margin-top: 110px;
  } */

  /* .about .container .about-cont-texts p:first-of-type::before{
  content:" ";
  width: 50%;
  height: 2px;
  margin-top: 150px;
  background-color: #10cab7;
  left: 25%;
  
  position: absolute;
  
  }
} */
/* @media screen and (max-width: 590px){
  .about .container .about-cont-texts p:first-of-type::before{
  content:" ";
  width: 50%;
  height: 2px;
  margin-top: 190px;
  background-color: #10cab7;
  left: 25%;
  
  position: absolute;
  
  }
} */
@media screen and (max-width: 460px){
  .about .container .inner-about-texts h2{
      font-size: 50px;
  }
  .about .container .inner-about-texts p{
    margin-top: -64px;
  }
  /* .about .container .about-cont-texts p:first-of-type::before{
    margin-top: 300px;
  } */
}


/* end about */

/* start contact */
.contact{
  background-color: #f6f6f6;
  padding: 150px 0px;
  
}
.contact .container div{
  text-align: center;
}
.contact .container .linkss h2{
    margin: 0;
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    
}
.contact .container .linkss p:first-of-type{
      margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
.contact .container .linkss p:last-of-type{
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .container .linkss a{
     display: block;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
}

.contact .container .linkss .social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.contact .container .linkss .social i{
    margin: 0px 4px;
}
.contact .container .linkss .social p{

    margin: 0px 12px;
}
@media screen and (max-width: 745px) {
  .contact .container .linkss h2{
    margin: 0;
    color: #ebeced;
    font-size: 75px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
 }



.contact .container .linkss p:last-of-type,.contact .container .linkss a{
    font-size: 25px;
}

}
@media screen and (max-width: 400px) {
  .contact .container .linkss h2{
    margin: 0;
    color: #ebeced;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
 }
   .contact .container .linkss p:first-of-type{
      margin-top: -20px;
 }
   .contact .container .linkss p:last-of-type ,.contact .container .linkss a{
      font-size: 19px;
 }

}

/* end contact */


/* start footer */
footer{
    background-color:#2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}
footer span{
      font-weight: bold;
    color: #10cab7;
}
/* end footer */




/* .inner-services-details{
  position: relative;
  margin: 70px 0px;
}
.inner-services-details img{
  margin-top: 50px;
}
.inner-services-details::before{
  content:" ";
  width: 140px;
  height: 110%;
  background-color: red;
  left: -40px;
  position: absolute;
  z-index: -1;

} */
/* end services */





/* grid | parent:
grid-template-colums:100px 100px ; -> 2 col 100px
grid-template-colums:25% 25% 50% ; 
grid-template-colums:auto auto auto auto; -> لو مفيش حاجه تأثر علي الطول والعرض بيمتد غير كده بيبقي يدوبك
grid-template-colums:repeat(3,100px);
grid-template-colums:1fr 2fr; -> 1:2
  fr vs auto -> fr: بياخد المتبقي   | auto: بياخد علي قده 
--------------
grid-template-rows:100px 100px ; -> 2 row 100px
grid-template-rows:25% 25% 50% ; 
grid-template-rows:auto auto auto auto;
grid-template-rows:repeat(3,100px);
grid-template-rows:1fr 2fr; -> 1:2;
-------------------
gap : row col ;
----------------------
grid-template-areas: ;
+ grid-areas: ;
-------------------
grid-column: start / end ; 1/3
grid-column: span 4  ; -> 4 cols
grid-row: start / end ; 1/3
grid-row: span 4  ; -> 4 row
-------------------
grid-area: grid-row-start /grid-column-start  / grid-row-end/ grid-column-end;
--------------------
minmax()
auto-fill
auto-fit
ch unit 
---------------------------------
transform:scaleX();
transform:translate();
transform:skew();

just 100% not 99%
i want to enjoy in the future
-----------------------------------------------------------
---- mobile first ----

media queries:
      @media (min-width) and (max-width) {
}

*/